<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WLXNetWorking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E476E11D0E5BF80012185D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E476FA1D0E5BF80012185D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E477051D0E5BF80012185D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
